.btn {
  @apply font-semibold py-1 px-4 rounded;
}

.btn-white {
  @apply bg-transparent;
  @apply text-white;
  @apply border;
  @apply border-white;
}

.btn-white:hover {
  @apply bg-white; 
  @apply text-dark; 
  @apply border;
  @apply border-white; 
}