@import './button.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  width: 100%;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #202020;
}

.navbar {
  display: flex;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #202020;
  align-items: center;
}

.title {
  font-family: 'Work Sans';
  font-weight: 700;
  margin: 0;
  padding-top: 0px;
  line-height: 1;
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-family: 'Work Sans';
  font-weight: 400;
  text-align: center;
  padding-top: 0px;
  line-height: 1.4;
  font-size: 1.1rem;
  width: 60%;
  align-items: center;
}