@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.header {
  display: flex;
  width: 100%;
  height: 120px;
  padding-top: 2rem;
  color: #000;
  background-color: #fff;
  align-items: center;
}

body {
  font-family: 'Karla';
  line-height: 1.4;
  color: #000;
}

.title {
  font-weight: 600;
  margin: 0;
  padding-top: 0px;
  line-height: 1;
  text-align: center;
}

h2 {
  font-weight: 400;
  text-align: center;
  line-height: 1.4;
  width: 50%;
  align-items: center;
}

h3 {
  font-weight: 700;
}

.btn {
  color: #000;
  padding: 10px 16px;
}

.btn-solid {
  background-color: #000;
  color: #fff;
  margin-left: 2rem;
}

svg {
  display: inline-block;
}

.social-icon:hover circle{
  fill: #ffcc00;
}

.makerImage {
  filter: grayscale(100%);
}

.makerImage:hover {
  filter: none;
}

footer {
  color: #000;
  background-color: #fff;
}

/* mobile */
@media screen and (max-width: 639px) {
  .social-icon svg{
    width: 40px;
    height: 40px;
  }
  .location-icon svg{
    width: 28px;
    height: 28px;
  }
}