@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.header {
  display: flex;
  width: 100%;
  padding-top: 2rem;
  color: #000;
  background-color: #fff;
  align-items: center;
}

body {
  font-family: 'Karla';
  line-height: 1.4;
  color: #000;
}

h1 {
  font-weight: 700;
  font-size: 2.25rem;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
}

h3 {
  font-weight: 700;
}

.textlink {
  font-weight: 700;
  text-decoration: underline;
}

.btn {
  color: #000;
  padding: 10px 16px;
}

.btn-solid {
  background-color: #000;
  color: #fff;
  margin-left: 1rem;
}

.btn-solid:hover {
  background-color: #ffcc00;
}

.fabfilter {
  background-color: #000;
  color: #fff;
  padding: 12px 36px;
  border-radius: 32px;
  z-index: 100;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  text-align: center;
  visibility: hidden;
  font-size: 1.25rem;
}

svg {
  display: inline-block;
}

.checkboxframe {
  display: flex;
  flex-shrink: 0;
  border: 1px solid #000000;
  background-color: #fff;
  width: 14px;
  height: 14px;
}

input:checked + svg {
  display: block;
}

.social-icon:hover circle{
  fill: #ffcc00;
}

.makerImage {
  filter: grayscale(100%);
}

.makerImage:hover {
  filter: none;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  color: #000;
  background-color: #fff;
}

/* mobile */
@media screen and (max-width: 639px) {
  .social-icon svg{
    width: 40px;
    height: 40px;
  }
  .location-icon svg{
    width: 28px;
    height: 28px;
  }
  .fabfilter {
    visibility: visible;
  }
  footer {
    position: relative;
  }
}