@tailwind base;
@tailwind components;
@tailwind utilities;

@import './button.css';


body {
  line-height: 1.4;
}

.hero {
  width: 100%;
  padding: 1rem 2rem 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #202020;
}

.navbar {
  display: flex;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #202020;
  align-items: center;
}

.title {
  font-family: 'Work Sans';
  font-weight: 600;
  margin: 0;
  padding-top: 0px;
  line-height: 1;
  font-size: 1.6rem;
  text-align: center;
}

h2 {
  font-family: 'Work Sans';
  font-weight: 400;
  text-align: center;
  padding-top: 0px;
  line-height: 1.4;
  font-size: 1rem;
  width: 60%;
  align-items: center;
}

h3 {
  font-family: 'Work Sans';
  font-weight: 700;
}

svg {
  display: inline-block;
}