@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.header {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  color: #000;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 21px 0px;
  align-items: center;
  z-index: 100;
}

body {
  font-family: 'Karla';
  line-height: 1.4;
  color: #000;
}

h1 {
  font-weight: 700;
  font-size: 2.25rem;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
}

h3 {
  font-weight: 700;
}

.textlink {
  font-weight: 700;
  text-decoration: underline;
}

button:focus, input:focus {
  outline: none;
}

.btn {
  color: #000;
  padding: 10px 16px;
}

.btn-solid {
  background-color: #0652DD;
  color: #fff;
  margin-left: 1rem;
  border-radius: 4px;
}

.btn-solid:hover {
  background-color: #ffcc00;
}

.fabfilter {
  background-color: #000;
  color: #fff;
  padding: 12px 36px;
  border-radius: 32px;
  z-index: 100;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  text-align: center;
  visibility: hidden;
  font-size: 1.25rem;
}

.scrollwrapper {
  height: 75vh;
}

svg {
  display: inline-block;
}

.checkboxframe {
  display: flex;
  flex-shrink: 0;
  border: 1px solid #000000;
  background-color: #fff;
  width: 14px;
  height: 14px;
}

input:checked + svg {
  display: block;
}

.social-icon:hover circle{
  fill: #ffcc00;
}

.makerTag {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  background-color: #313896;
  padding: 6px 10px;
  border-radius: 30px;
}

.makerImage {
  filter: grayscale(80%);
}

.makerImage:hover {
  filter: none;
}

.feedback {
  z-index: 100;
  background-color: #fff;
  color: #000;
  position: fixed;
  bottom: 0;
  left: 2em;
  border: 1px solid #dedede;
  width: 14em;
  border-bottom: 0;
  border-radius: 8px 8px 0 0;
  padding: 12px;
}

.feedbackinput {
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 8px;
  margin-bottom: 1rem;
  width: 100%;
  outline: none;
}

footer {
  width: 100%;
  color: #000;
  background-color: #fff;
}

/* mobile */
@media screen and (max-width: 639px) {
  .social-icon svg{
    width: 40px;
    height: 40px;
  }
  .location-icon svg{
    width: 28px;
    height: 28px;
  }
  .makerTag svg {
    width: 80px;
    height: auto;
  }
  .fabfilter {
    visibility: visible;
  }
  footer {
    position: relative;
  }
}